h2 {
	background-color: lightgray;
}


.top_paragraph {
background-color: lightgreen;

}

.mid_paragraph {
background-color: lightblue;

}

.bot_paragraph {
background-color: lightyellow;

}

